# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
*.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
node_modules
src/Data Upload logs.txt
src/data/Ajwan.json
src/data/Alasande Gram.json
src/data/Almond(Badam).json
src/data/Alsandikai.json
src/data/Amaranthus.json
src/data/Ambada Seed.json
src/data/Amla(Nelli Kai).json
src/data/Amphophalus.json
src/data/Antawala.json
src/data/Anthorium.json
src/data/Apple.json
src/data/Apricot(Jardalu-Khumani).json
src/data/Arecanut(Betelnut-Supari).json
src/data/Arhar (Tur-Red Gram)(Whole).json
src/data/Arhar Dal(Tur Dal).json
src/data/Ashgourd.json
src/data/Astera.json
src/data/Avare Dal.json
src/data/Bajra(Pearl Millet-Cumbu).json
src/data/Balekai.json
src/data/Bamboo.json
src/data/Banana - Green.json
src/data/Banana.json
src/data/Barley (Jau).json
src/data/Bay leaf (Tejpatta).json
src/data/Beans.json
src/data/Beaten Rice.json
src/data/Beetroot.json
src/data/Bengal Gram Dal (Chana Dal).json
src/data/Bengal Gram(Gram)(Whole).json
src/data/Ber(Zizyphus-Borehannu).json
src/data/Betal Leaves.json
src/data/Betelnuts.json
src/data/Bhindi(Ladies Finger).json
src/data/Big Gram.json
src/data/Binoula.json
src/data/Bitter gourd.json
src/data/Black Gram (Urd Beans)(Whole).json
src/data/Black Gram Dal (Urd Dal).json
src/data/Black pepper.json
src/data/BOP.json
src/data/Borehannu.json
src/data/Bottle gourd.json
src/data/Bran.json
src/data/Brinjal.json
src/data/Broken Rice.json
src/data/Broomstick(Flower Broom).json
src/data/Bull.json
src/data/Bullar.json
src/data/Bunch Beans.json
src/data/Butter.json
src/data/Cabbage.json
src/data/Calf.json
src/data/Camel Hair.json
src/data/Cane.json
src/data/Capsicum.json
src/data/Cardamoms.json
src/data/Carnation.json
src/data/Carrot.json
src/data/Cashew Kernnel.json
src/data/Cashewnuts.json
src/data/Castor Oil.json
src/data/Castor Seed.json
src/data/Cauliflower.json
src/data/Chakotha.json
src/data/Chapparad Avare.json
src/data/Chennangi (Whole).json
src/data/Chennangi Dal.json
src/data/Cherry.json
src/data/Chikoos(Sapota).json
src/data/Chili Red.json
src/data/Chilly Capsicum.json
src/data/Chow Chow.json
src/data/Chrysanthemum.json
src/data/Chrysanthemum(Loose).json
src/data/Cinamon(Dalchini).json
src/data/Cloves.json
src/data/Cluster beans.json
src/data/Coca.json
src/data/Cock.json
src/data/Cocoa.json
src/data/Coconut Oil.json
src/data/Coconut Seed.json
src/data/Coconut.json
src/data/Coffee.json
src/data/Colacasia.json
src/data/Copra.json
src/data/Coriander(Leaves).json
src/data/Corriander seed.json
src/data/Cotton Seed.json
src/data/Cotton.json
src/data/Cow.json
src/data/Cowpea (Lobia-Karamani).json
src/data/Cowpea(Veg).json
src/data/Cucumbar(Kheera).json
src/data/Cummin Seed(Jeera).json
src/data/Custard Apple (Sharifa).json
src/data/Daila(Chandni).json
src/data/Dal (Avare).json
src/data/Dalda.json
src/data/Delha.json
src/data/Dhaincha.json
src/data/Drumstick.json
src/data/Dry Chillies.json
src/data/Dry Fodder.json
src/data/Dry Grapes.json
src/data/Duck.json
src/data/Duster Beans.json
src/data/Egg.json
src/data/Egypian Clover(Barseem).json
src/data/Elephant Yam (Suran).json
src/data/Field Pea.json
src/data/Fig(Anjura-Anjeer).json
src/data/Firewood.json
src/data/Fish.json
src/data/Flower Broom.json
src/data/Foxtail Millet(Navane).json
src/data/French Beans (Frasbean).json
src/data/Galgal(Lemon).json
src/data/Garlic.json
src/data/Ghee.json
src/data/Gingelly Oil.json
src/data/Ginger(Dry).json
src/data/Ginger(Green).json
src/data/Gladiolus Bulb.json
src/data/Gladiolus Cut Flower.json
src/data/Goat Hair.json
src/data/Goat.json
src/data/Gram Raw(Chholia).json
src/data/Gramflour.json
src/data/Grapes.json
src/data/Green Avare (W).json
src/data/Green Chilli.json
src/data/Green Fodder.json
src/data/Green Gram (Moong)(Whole).json
src/data/Green Gram Dal (Moong Dal).json
src/data/Green Peas.json
src/data/Ground Nut Oil.json
src/data/Ground Nut Seed.json
src/data/Groundnut (Split).json
src/data/Groundnut pods (raw).json
src/data/Groundnut.json
src/data/Guar Seed(Cluster Beans Seed).json
src/data/Guar.json
src/data/Guava.json
src/data/Gur(Jaggery).json
src/data/Gurellu.json
src/data/Haralekai.json
src/data/He Buffalo.json
src/data/Hen.json
src/data/Hippe Seed.json
src/data/Honey.json
src/data/Honge seed.json
src/data/Hybrid Cumbu.json
src/data/Indian Beans (Seam).json
src/data/Indian Colza(Sarson).json
src/data/Isabgul (Psyllium).json
src/data/Jack Fruit.json
src/data/Jaffri.json
src/data/Jaggery.json
src/data/Jamamkhan.json
src/data/Jamun(Narale Hannu).json
src/data/Jarbara.json
src/data/Jasmine.json
src/data/Javi.json
src/data/Jowar(Sorghum).json
src/data/Jute Seed.json
src/data/Jute.json
src/data/Kabuli Chana(Chickpeas-White).json
src/data/Kacholam.json
src/data/Kakada.json
src/data/Kankambra.json
src/data/Karamani.json
src/data/Karbuja(Musk Melon).json
src/data/Kartali (Kantola).json
src/data/Kharif Mash.json
src/data/Khoya.json
src/data/Kinnow.json
src/data/Knool Khol.json
src/data/Kodo Millet(Varagu).json
src/data/Kuchur.json
src/data/Kulthi(Horse Gram).json
src/data/Ladies Finger.json
src/data/Lak(Teora).json
src/data/Leafy Vegetable.json
src/data/Lemon.json
src/data/Lentil (Masur)(Whole).json
src/data/Lilly.json
src/data/Lime.json
src/data/Linseed.json
src/data/Lint.json
src/data/Litchi.json
src/data/Little gourd (Kundru).json
src/data/Long Melon(Kakri).json
src/data/Lotus Sticks.json
src/data/Lotus.json
src/data/Lukad.json
src/data/Mace.json
src/data/Mahedi.json
src/data/Mahua Seed(Hippe seed).json
src/data/Mahua.json
src/data/Maida Atta.json
src/data/Maize.json
src/data/Mango (Raw-Ripe).json
src/data/Mango.json
src/data/Maragensu.json
src/data/Marasebu.json
src/data/Marget.json
src/data/Marigold(Calcutta).json
src/data/Marigold(loose).json
src/data/Mash.json
src/data/Mashrooms.json
src/data/Masur Dal.json
src/data/Mataki.json
src/data/Methi Seeds.json
src/data/Methi(Leaves).json
src/data/Millets.json
src/data/Mint(Pudina).json
src/data/Moath Dal.json
src/data/Mousambi(Sweet Lime).json
src/data/Mustard Oil.json
src/data/Mustard.json
src/data/Myrobolan(Harad).json
src/data/Nargasi.json
src/data/Nearle Hannu.json
src/data/Neem Seed.json
src/data/Nelli Kai.json
src/data/Niger Seed (Ramtil).json
src/data/Nutmeg.json
src/data/Onion Green.json
src/data/Onion.json
src/data/Orange.json
src/data/Orchid.json
src/data/Other Pulses.json
src/data/Ox.json
src/data/Paddy(Dhan)(Basmati).json
src/data/Paddy(Dhan)(Common).json
src/data/Papaya (Raw).json
src/data/Papaya.json
src/data/Patti Calcutta.json
src/data/Peach.json
src/data/Pear(Marasebu).json
src/data/Peas cod.json
src/data/Peas Wet.json
src/data/Peas(Dry).json
src/data/Pegeon Pea (Arhar Fali).json
src/data/Pepper garbled.json
src/data/Pepper ungarbled.json
src/data/Persimon(Japani Fal).json
src/data/Pigs.json
src/data/Pineapple.json
src/data/Plum.json
src/data/Pointed gourd (Parval).json
src/data/Polherb.json
src/data/Pomegranate.json
src/data/Potato.json
src/data/Pumpkin.json
src/data/Pundi Seed.json
src/data/Pundi.json
src/data/Raddish.json
src/data/Ragi (Finger Millet).json
src/data/Raibel.json
src/data/Rajgir.json
src/data/Ram.json
src/data/Rat Tail Radish (Mogari).json
src/data/Raya.json
src/data/Red Gram.json
src/data/Resinwood.json
src/data/Riccbcan.json
src/data/Rice.json
src/data/Ridgeguard(Tori).json
src/data/Rose(Local).json
src/data/Rose(Loose)).json
src/data/Rose(Tata).json
src/data/Round gourd.json
src/data/Rubber.json
src/data/Sabu Dan.json
src/data/Safflower.json
src/data/Saffron.json
src/data/Sajje.json
src/data/Same-Savi.json
src/data/Sarasum.json
src/data/Season Leaves.json
src/data/Seegu.json
src/data/Seemebadnekai.json
src/data/Seetapal.json
src/data/Sesamum(Sesame,Gingelly,Til).json
src/data/She Buffalo.json
src/data/She Goat.json
src/data/Sheep.json
src/data/Siddota.json
src/data/Skin And Hide.json
src/data/Snakeguard.json
src/data/Soanf.json
src/data/Soapnut(Antawala-Retha).json
src/data/Soji.json
src/data/Sompu.json
src/data/Soyabean.json
src/data/Spinach.json
src/data/Sponge gourd.json
src/data/Squash(Chappal Kadoo).json
src/data/Sugar.json
src/data/Sugarcane.json
src/data/Sunflower Seed.json
src/data/Sunflower.json
src/data/Sunhemp.json
src/data/Suram.json
src/data/Surat Beans (Papadi).json
src/data/Suva (Dill Seed).json
src/data/Suvarna Gadde.json
src/data/Sweet Potato.json
src/data/Sweet Pumpkin.json
src/data/T.V. Cumbu.json
src/data/Tamarind Fruit.json
src/data/Tamarind Seed.json
src/data/Tapioca.json
src/data/Taramira.json
src/data/Tea.json
src/data/Tender Coconut.json
src/data/Thinai (Italian Millet).json
src/data/Thogrikai.json
src/data/Thondekai.json
src/data/Tinda.json
src/data/Tobacco.json
src/data/Tomato.json
src/data/Torchwood.json
src/data/Tube Flower.json
src/data/Tube Rose(Double).json
src/data/Tube Rose(Loose).json
src/data/Tube Rose(Single).json
src/data/Turmeric (raw).json
src/data/Turmeric.json
src/data/Turnip.json
src/data/Walnut.json
src/data/Water Melon.json
src/data/Wheat Atta.json
src/data/Wheat.json
src/data/White Peas.json
src/data/White Pumpkin.json
src/data/Wood.json
src/data/Wool.json
src/data/Yam (Ratalu).json
src/data/Yam.json
